body {
	background-image: url("../assets/pixel_weave.png");
  text-align: center;
}
h1 {
  font-size: 50px;
	color: gray;
  font-family: 'Lora', serif;
}
h2 {
	color: gray;
  font-size: 32px;
  font-family: 'Lora', serif;
}
a {
  color: #62B1F6;
  text-decoration: none;
}

.main-image {
  margin: 40px 0px 0px 0px;
  border-radius: 50%;
  width: 300px;
  border: 4px solid white;
  box-shadow: 10px 10px 50px black;
}
.main-title {
  margin-bottom: 40px;
}

.navblock {
  font-family: 'Cambo', serif;
  color: rgba(255,255,255,0.5);
  background: rgba(255,255,255,0.5);
  -webkit-background: rgba(255,255,255,0.5);
  -moz-background: rgba(255,255,255,0.5);
  margin: 0 auto;
  margin-bottom: 40px;
  padding: 0;
  text-align: center;
  border-radius: 15px;
  border: 2px solid gray;
  display: inline-block;
}
.navblock span{
  display: inline-block;
  color: gray;
  font-size: 18px;
  margin: 10px;
  position: relative;
  transition: all 0.25s;
}
.navblock span:hover {
  color: #62B1F6;
  cursor: pointer;
}
.code {
  color: #FB861A;
}

.contentblock {
  text-align: center;
  color: gray;
  background: rgba(255,255,255,0.5);
  -webkit-background: rgba(255,255,255,0.5);
  -moz-background: rgba(255,255,255,0.5);
  border-radius: 15px;
  font-family: 'Lato', sans-serif;
  display: inline-block;
}

.content {
  padding: 20px;
}

/*About Me Section*/
.about-me.content {
  text-align: left;
  width: 65em;
  margin: 0 auto;
}

/*Resume Section*/
.resume.content {
  text-align: left;
}
.resume.content img {
  width: 60em;
  margin: 0 40px 40px 40px;
  box-shadow: 10px 10px 50px black;
}
.resume-header {
  margin-left: 40px;
  font-size: 26px;
}


/*Portfolio Section*/
.portfolio {
  font-size: 22px;
  max-width: 750px;
}
.portfolio-header {
  margin: 10px;
}
.thumbnail-container {
  text-align: left;
}
.thumbnail {
  display: inline-block;
  margin: 10px;
  position: relative;
}
.thumbnail img {
  max-height: 230px;
  box-shadow: 10px 10px 20px gray;
}
.thumbnail img.satellite-img {
  max-height: none;
  width: 100%;
}
.thumb-title {
  position: absolute;
  height: 100%;
  width: 100%;
  text-align: center;
  opacity: 0;
  top: 0;
}
.thumb-title p {
  font-size: 32px;
  color: #62B1F6;
  margin-top: 100px;
  text-shadow: 3px 3px 5px black;
}
.mask {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}
.job-board {
  margin-left: 70px;
}
.info-container {
  width: 34em;
}
.portfolio-element {
  text-align: left;
}

/*Contact Section*/
.contact {
  font-size: 18px;
  text-align: center;
}
.contact a{
  display:inline-block;
  color: #62B1F6;
  margin: 5px;
  text-decoration: none;
  transition: all 0.25s;
}
.contact a:hover {
  color: #FB861A;
}

#footer {
  color: gray;
}

/*Styles for screens smaller than 700px width*/
@media all and (max-width: 700px) {
  .mainimage {
  border-radius: 50%;
  border: 2px solid white;
  width: 100px;
  }
  .contentblock {
  display: inline-block;
  position: relative;
  width: 100%;
  text-align: left;
  font-size: 18px;
  color: white;
  margin: 10px 10px 10px 0;
  }
  h1 {
    font-size: 22px;
    line-height: 40px;
  }
  h2 {
    font-size: 14px;
  }
  p {
    font-size: 16px;
    line-height: 24px;
  }
}
