<div class="about-me content">
    <p><h3 style="text-decoration:underline;">About Me: </h3>
      I develop websites, web applications and other interesting things in New York City.</p>

    <p>Currently I work as part of <a href="http://www.qz.com">Quartz's</a> ad development team building custom interactive advertisements and other kinds of sponsored content. I've worked on products for companies such as GE, Zurich, ADP, Bank of America, Deloitte, SAP, US Trust and many more.</p>

    <p>I spend most of my time working in JavaScript and Node.js, but I also have experience with Ruby on Rails and other languages and frameworks. Prior to web development I spent seven years in public relations working for technology companies like Sony PlayStation, PayPal and Toshiba.</p>

    <p>Check out my contact info and drop me a line!!</p>
</div>
