<div class="about-me content">
    <h3 style="text-decoration:underline;">About Me: </h3>

    <p>I develop websites, web applications and other interesting things in New York City. I consider myself to be deeply enthusiastic about test-driven development and am very passionate about designing clean, maintainable code.</p>

    <p>Currently I work as part of <a href="http://creativity.condenast.com/">Condé Nast's</a> Ad Technology team building technical solutions across all of Condé's editorial brands. Previously I worked with <a href="http://www.cyrusinnovation.com/">Cyrus Innovation</a> as an Agile Consultant and Web Developer working primarily in Ruby on Rails and Ember, with some dabbling in CoffeeScript, Django, React, Docker and more. Previous to that I worked with <a href="http://www.qz.com/">Quartz</a> to develop custom ad creatives for clients such as GE, Zurich, ADP, Bank of America, Deloitte, SAP, US Trust, and many more.</p>

    <p>My primary specialty is in JavaScript and Node, and I'm quite familiar with most related technologies and frameworks, including Browserify, Mocha, Grunt, Gulp, Backbone, Ember and React. I'm well versed in Ruby and the Rails framework and like to play around with Python on the side. Prior to web development I spent seven years in public relations working for technology companies like Sony PlayStation, PayPal and Toshiba.</p>

    <p>Check out my contact info and drop me a line!</p>
</div>
