body {
	background-image: url("../assets/stardust.png");
  font-family: 'Cambo', serif;
  text-align: center;
  width: 100%;
}
h1 {
	font-size: 30px;
	color: white;
	position: relative;
	top-margin: 20px;
  font-family: 'Press Start 2P', cursive;
}
h2 {
	position: relative;
	margin: 0 auto;
	color: white;
  font-size: 22px;
  font-family: 'Press Start 2P', cursive;
}
li {
  list-style: none;
}
a {
  color: lightgray;
  text-decoration: none;
}
.main-image {
  margin: 40px 0px 40px 0px;
  border-radius: 50%;
  width: 400px;
  border: 4px solid white;
  box-shadow: 10px 10px 50px black;
}
.main-title {
  margin-bottom: 40px;
}
.navblock {
  color: rgba(255,255,255,1);
  background: rgba(255,255,255,.1);
  -webkit-background: rgba(0,0,0, .1);
  -moz-background: rgba(0,0,0, .1);
  margin: 0 auto;
  margin-bottom: 40px;
  padding: 10px 20px 10px 20px;
  line-height: 28px;
  position: relative;
  bottom: 0;
  display: inline-block;
  text-align: center;
  border-radius: 15px;
  border: 2px solid white;
}
.navblock span{
  margin: 0 10px;
  color: white;
  text-decoration: none;
  font-size: 18px;
}
.navblock span:hover {
  font-size: 19px;
  cursor: pointer;
}
a:hover {
  text-decoration: underline;
}
.content {
  padding: 20px;
  background: rgba(0,0,0,.3);
  -webkit-background: rgba(0,0,0, .1);
  -moz-background: rgba(0,0,0, .1);
  border-radius: 15px;
  font-family: 'Lato', sans-serif;
}
.contentblock img {
}

.contact {
  font-size: 18px;
}

.contact a{
  margin: 5px;
  color: white;
  text-decoration: none;
}
.contact a:hover {
  font-size: 17px;
}
.contentblock {
  display: inline-block;
	position: relative;
	width: 75%;
 	text-align: left;
  color: white;
}
.resume-icon {
  width: 20px;
}
.portfolio-image-container {
  text-align: center;
  width: inherit;
}
.portfolio-image-container img {
  width: 100%;
}
#footer {
  color: gray;
}


/*Styles for screens smaller than 700px width*/
@media all and (max-width: 700px) {
  .mainimage {
  border-radius: 50%;
  border: 2px solid white;
  width: 100px;
  }
  .contentblock {
  display: inline-block;
  position: relative;
  width: 100%;
  text-align: left;
  font-size: 18px;
  color: white;
  margin: 10px 10px 10px 0;
  }
  h1 {
    font-size: 22px;
    line-height: 40px;
  }
  h2 {
    font-size: 14px;
  }
  p {
    font-size: 16px;
    line-height: 24px;
  }
}
